include mixin.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")

    title= `${title} - Круг чтения`

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i&amp;subset=cyrillic")
    link(rel="stylesheet", href="/css/style.css")

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3097991840705245",
        enable_page_level_ads: true
      });
    </script>

  body

    .wrapper
      .grid-center

        header
          h1
            a(href="/") Круг чтения

          p Сегодня #{date.current}

          include components/calendar.pug


        main
          block content

        include components/calendar.pug