
body {
  font: 14px Helvetica, Arial, sans-serif;
}

.wrapper {
  padding: 20px 0 50px;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 400px) 1fr;
  grid-gap: 10px;
}

.grid-center {
  grid-column: 2 / 3;
  grid-row: 1;
}