// ***
// Merriweather
// ***

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/merriweather-light-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/merriweather-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/merriweather-italic-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/merriweather-black-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/merriweather-blackitalic-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

// ***
// Raleway
// ***

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway-v4020-regular-webfont.woff2') format('woff2'),
         url('/fonts/raleway-v4020-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway-v4020-regularitalic-webfont.woff2') format('woff2'),
         url('/fonts/raleway-v4020-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway-v4020-bold-webfont.woff2') format('woff2'),
         url('/fonts/raleway-v4020-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway-v4020-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/raleway-v4020-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway-v4020-black-webfont.woff2') format('woff2'),
         url('/fonts/raleway-v4020-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway-v4020-blackitalic-webfont.woff2') format('woff2'),
         url('/fonts/raleway-v4020-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
