@import './constants.styl';

body {
  font-family: $ff;
}

.wrapper {
  padding: 20px 0 50px;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 960px) 1fr;
  grid-gap: 10px;
}

.grid-center {
  grid-column: 2 / 3;
  grid-row: 1;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 700px) 1fr;
  grid-gap: 0;

  .title,
  p, h1, h2, h3, h4, h5, h6, ol, ul, hr, section {
    grid-column: 2;
  }
}

.title {
  text-align: center;
  margin: 0 0 120px;

  &__date {
    font-size: 48px;
    line-height: 1em;
    font-weight: normal;
    color: $brandRed;
    margin: 0;
  }

  &__theme {
    font-size: 144px;
    line-height: 0.9em;
    font-weight: normal;
    margin: 0;
  }
}

.intro {
  margin-bottom: 120px;
}

.intro, .conclusion {
  grid-column-start: 1;
  grid-column-end: 4;

  text-align: center;

  p {
    font-size: 24px;
    line-height: 36px;

    &:first-child::first-letter {
      font-size: 48px;
      color: $brandRed;
    }
  }
}

.intro, .conclusion {
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
}

.body-item {

  &__index {
    text-align: center;
    color: $brandRed;
    font-size: 38px;
    font-weight: normal;
    margin: 0 0 25px;
  }

  & p {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
  }
}
